pre {
  border: 1px solid #ddd;
  margin: 5px;
  overflow: scroll;
  height: 40vh;
  font-size: 11px;
}

.column {
  width: 50%;
  float: left;
}


.ast-node:hover, .hovered {
  background-color: rgba(0, 64, 220, 0.2);
  box-shadow: 0 0 1px white
}
.ast-node > .ast-node {
  margin-left: 15px;
}